{% extends "Base/Sidebar.html" %}
{% load rol_tags %}
{% load static %}

{% block content %}

    {% if user|has_role:"Producto a Granel" %}
        {% include "Dashboard/productoGranel.html" %}
    {% elif user|has_role:"Producto Terminado" %}
        {% include "Dashboard/productoTerminado.html" %}
    {% elif user|has_role:"Recursos Humanos" %}
        {% include "Dashboard/recursosHumanos.html" %}
     {% elif user|has_role:"Administrador" %}
        {% include "Dashboard/administrador.html" %}    
             {% elif user|has_role:"Producción" %}
        {% include "Dashboard/produccion.html" %}    
    {% else %}
        {% include "Dashboard/eperaTurno.html" %}
    {% endif %}

{% endblock %}
