{% extends "Base/Sidebar.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/base/coloresCustom.css' %}">
    
    <div class="section-title">
        <span class="fw-bold text-dark">Gestión de Turnos Asignados</span>
        <span class="mx-2 text-dark">|</span>
        <span class="text-secondary">Editar Turno</span>
    </div>

    <div class="custom-card mt-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-4 d-flex flex-column flex-sm-row gap-2">
                <button type="submit" class="btn btn-custom-success btn-sm">
                    <i class="bi bi-save me-1"></i>Guardar Cambios
                </button>
                <a href="{% url 'listar_turnos' %}" class="btn btn-custom-secondary btn-sm">
                    <i class="bi bi-arrow-return-left me-1"></i>Volver a la lista de turnos
                </a>
            </div>
        </form>
    </div>
{% endblock %}
